# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = lawyer.settings.settings

[deploy]
url = http://139.129.96.112:6805/
project = lawyer





